<div class="container">
  <h1> <%= @task.title %> </h1>
  <div class="form">
    <%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <br>
    <br>
    <%= f.label :completed, value:"Mark a completed" %>
    <%= f.check_box :completed %>
    <br>
    <br>
    <p class="btn"> <%= f.submit %> </p>
    <% end %>
  </div>
</div>
