<div class="container">
  <h1>My Task</h1>

  <h2><%= @task.title %></h2>
  <h3><%=  @task.details%></h3>
  <p class="margin-left"><%= @task.completed ? '<i class="far fa-check-square"></i>'.html_safe : '<i class="far fa-square"></i>'.html_safe %>   Task comlpeted</p>
  <div class="flex">
   <p class="btn"> <%= link_to "Update task", edit_task_path %> </p>
    <p class="btn">  <%= link_to "Back to all tasks", tasks_path%> </p>
  </div>
</div>
